/* Everything is border-box. border-box is god. */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --header-color: #06038D;
    --line-color: #8C5B0A;
    --nav-button-hover: #E5E1E6;
    --nav-text-color: #D9911A;
    --body-background-color: #F1EDF2;
    --works-outline-color: #06038D;
    --header-text-color: #E6EDf5;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    background-color: var(--body-background-color);
}

header {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-size: cover;
    color: var(--header-text-color);
    background-color: var(--header-color);
    padding: 40px 35px;
}

.header-nav-list {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
}

.header-nav-buttons {
    padding: 0 30px;
    font-size: 3;
}



.basic-flex-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex: 1;
    width: 100%;
}

.flex-box-items {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 50%;
    min-height: 250px;
    padding: 30px;
    margin-bottom: 20px;
}

.flex-item-transition {
    transition: all 0.5s;
}

.blurb {
    background-color: var(--body-background-color);
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.bannerimage {
    background-image: url('../images/e1d846715a26dd676188a97c6977d19a.jpg');
    height: 300px;
    width: 100%;
    background-size: contain;
    background-position: center;

}

.works {
    display: flex;
    margin: 34px auto 0 auto;
    max-width: 1280px;
}