/* Everything is border-box. border-box is god. */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --header-color: #06038D;
    --line-color: #8C5B0A;
    --nav-button-hover: #E5E1E6;
    --nav-text-color: #D9911A;
    --body-background-color: #F1EDF2;
    --works-outline-color: #06038D;
    --header-text-color: #E6EDf5;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    background-color: var(--body-background-color);
}


header h1 {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-size: cover;
    color: var(--header-text-color);
    background-color: var(--header-color);
    padding: 40px 35px;
}

header ul {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-size: cover;
    color: var(--header-text-color);
    background-color: var(--header-color);
    padding: 40px 35px;
}


.header-nav-list {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
}

.header-nav-buttons {
    padding: 0 30px;
    font-size: 3;
    display: inline-block;
    transition: all .5s ease-in;
    padding: 40px;
}

header a:hover {
    padding: 5px;
    border-radius: 25px;
    background-size: 100% 75%;
    background-color: var(--nav-button-hover);
}

header ul li a {
    color: var(--nav-text-color);
}


.basic-flex-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex: 1;
    width: 100%;
    margin-left: 16px;
}

.flex-box-items {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 50%;
    min-height: 250px;
    padding: 30px;
    margin-bottom: 20px;
    border-radius: 16px;
    border: 5px solid goldenrod;
    background-color: goldenrod;
    background-size: cover;
    background-position: center;
    background-blend-mode: soft-light;
}

.flex-item span {
    color: blueviolet;
  padding: 16px;
  text-align: center;
  margin-top: auto;
}

.flex-item-transition {
    transition: all 0.5s;
}

.horiseon {
    width: 100%;
  justify-content: flex-end;
}

.blurb {
    background-color: var(--body-background-color);
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.bannerimage {
    background-image: url('../images/e1d846715a26dd676188a97c6977d19a.jpg');
    height: 300px;
    width: 100%;
    background-size: contain;
    background-position: center;

}

.works {
    display: flex;
    margin: 34px auto 0 auto;
    max-width: 1280px;   
}

.works h3, .aboutme-section h3, .contact-section h2 {
    display: flex;
    padding: 10px 20px 0 0;
    align-items: center;
    font-size: 40px;
    text-align: right;
    min-width: 200px;
    justify-content: flex-end;
    max-width: 200px;
    height: 100%;
    border-right: 8px solid var(--line-color);  
}

.app-boxes {
   display: flex;
   flex-direction: column;
   border: 3px solid var(--header-color);
   border-left: none;
   padding: 10px 24px;
   background-color: goldenrod;
   color: black;

}

.contact-section {
    display: flex;
    justify-content: space-evenly;
}

.contact-links li a {
    display: inline-block;
    transition: all .5s ease-in;
    padding: 40px;

}

footer a:hover {
    padding: 5px;
    border-radius: 25px;
    background-size: 100% 75%;
    background-color: var(--nav-button-hover);
}